.all-videos-page {
  display: flex;
  /* flex-shrink: 8; */
  /* justify-content: center; */
  /* padding-left: 50px; */
}
.video-container {
  display: center;
}
.react-player video {
  /* padding: 10px 10px 10px 10px; */
  display: static;
  /* margin: 25% 50% 25% 50%; */
  border: 2px solid black;
  background-color: gray;
}
