.login-page .container {
  border: 2px solid blue;
  box-sizing: border-box;
  padding: 25% 25% 25% 25%;
  display: inline-block;
  margin: 15% 5% 55% 5%;
}
.login-page h1 input {
  display: inline-block;
  background-color: white;
}

.container {
  border: 3px solid goldenrod;
}
