/* .react-player {
  background-color: transparent;
  
  position: relative;
  padding-top: 5px 5px 5px 5px;
} */

.delete-button {
  position: inline-block;
  justify-content: center;
  color: red;
}
